/* @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700'; */
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.idea {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.row {
  margin-bottom: 10px;
}
.card {
  padding: 10px;
  background-color: #0047ac;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.key {
  color: #ffd301;
  font-weight: 700;
}

@media (min-width: 700px) {
}

@keyframes colorChange {
  0% {
    background-color: white;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}
.params {
  display: flex;
}
.select-group {
  margin-right: 10px;
}
label {
  margin-right: 5px;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .idea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .idea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

ul {
  padding: 0;
}
